body {
    display: flex;
    flex-direction: column;
}

.first-container img {
    width: 300px;
    height: 300px;
}

.second-container img {
    width: 300px;
    height: 300px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
  }

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    margin-right: 20px;
}

li {
    list-style: none;
    margin: 5px;
}

.header .title {
    font-size: 24px;
    color: #F9FAF8;
    margin: 20px;
}

.first-container {
    background-color: #1F2937;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex:1;

}

.text {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.second-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
}

.second-container .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}

h3 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;
    font-size: 20px;
}

.third-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 0 200px;
    font-family: 'Roboto', arial;
    font-weight: lighter;
}

.action-text{
    display: flex;
    flex-direction: column;
    padding: -22px;
}

.action {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
    justify-content: space-evenly;
}

h4 {
    font-size: 25px;
}

.action button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

